/* CSS Document */
* {
    box-sizing: border-box;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del,
dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label,
legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, menu,
nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0px;
    padding: 0px;
    border: 0px none;
    vertical-align: baseline;
}

body, button, input, select, textarea {
    font-family: "Hiragino Sans GB", "黑体-简", tahoma, arial, "微软雅黑", "宋体", sans-serif;
}

h1, h2, h3, h4, h5, h6, textarea {
    font-weight: normal;
    font-size: 1.2rem;
}

b, textarea {
    font-style: normal;
    font-weight: 400;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* 去掉 table cell 的边距并让其边重合 */
pre {
    white-space: pre-wrap;
    word-wrap: break-word;
}

/* pre 可以换行*/
img {
    border: none;
    vertical-align: middle;
}

input, select, textarea {
    font-size: 100%;
}

del {
    text-decoration: line-through;
}

/* 一致的 del 样式 */
a {
    color: #666;
    text-decoration: none;
}

a:active, a:focus {
    -moz-outline: none;
    outline: none;
}

/* 去掉a链接点击过后的虚线边框 */
ul, li, ol {
    list-style: none;
}

input {
    font-family: inherit;
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
}

th {
    text-align: inherit;
}

/* ie bug：th 不继承 text-align */
iframe {
    display: block;
}

/* ie6 7 8(q) bug 显示为行内表现 */
em, i {
    font-style: normal;
}

html, body {
    min-height: 100%;
}

.fl {
    float: left;
    display: inline;
}

/* 设置浮动，减少浮动带来的 bug */
.fr {
    float: right;
    display: inline;
}

.elli {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* 单行多出省略号.... */
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden
}

.clearfix {
    zoom: 1; /* for ie6 & ie7 */
}

a, button, input, optgroup, select, textarea {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/*去掉a、input和button点击时的蓝色外边框和灰色半透明背景*/

/*barcode manual input*/
html, body {
    height: 100%;
    background-color: #f9fafc;
}

.bar_code_manual_input .enter_main {
    padding: 0.78125rem 0.40625rem;
}

.bar_code_manual_input .enter_main .barcode_pic {
    width: 4.59375rem;
    height: 2.0625rem;
    margin: 0 auto;
}

.bar_code_manual_input .enter_main .barcode_pic img {
    width: 3.92rem;
    height: 1.76rem;
}

.bar_code_manual_input .enter_main .code_input {
    padding-left: 2.1875rem;
    margin-top: 0.78125rem;
    height: 1.71875rem;
    background: #fff;
    position: relative;
}

.bar_code_manual_input .enter_main .code_input span {
    position: absolute;
    font-size: 17px;
    color: #37474F;
    top: 50%;
    transform: translateY(-50%);
    left: 0.266667rem;
}

[data-dpr="2"] .bar_code_manual_input .enter_main .code_input span {
    font-size: 34px;
}

[data-dpr="3"] .bar_code_manual_input .enter_main .code_input span {
    font-size: 51px;
}

.bar_code_manual_input .enter_main .code_input input {
    height: 1.71875rem;
    line-height: 1.71875rem;
    width: 100%;
    font-size: 17px;
    color: #374750;
}

[data-dpr="2"] .bar_code_manual_input .enter_main .code_input input {
    font-size: 34px;
}

[data-dpr="3"] .bar_code_manual_input .enter_main .code_input input {
    font-size: 51px;
}

.bar_code_manual_input .enter_main .determine_btn {
    display: block;
    margin-top: 0.46875rem;
    height: 1.25rem;
    text-align: center;
    line-height: 1.25rem;
    opacity: 0.5;
    background: #62A8EA;
    border-radius: 5px;
    font-size: 17px;
    color: #fff;
}

[data-dpr="2"] .bar_code_manual_input .enter_main .determine_btn {
    font-size: 34px;
}

[data-dpr="3"] .bar_code_manual_input .enter_main .determine_btn {
    font-size: 51px;
}

/*# sourceMappingURL=enter-barcode.css.map */



