
html, body { height: 100%; background-color: #fff; }

.product-detail .detail-main { padding-bottom: 1.71875rem; }
.product-detail .detail-main .hold-div-top { height: 1.40625rem; }
.product-detail .detail-main .dt-box { overflow: hidden; }
.product-detail .detail-main .dt-nav { height: 1.40625rem; background-color: #FAFAFA; position: fixed; left: 0; top: 0; right: 0; z-index: 2; }
.product-detail .detail-main .dt-nav ul { height: 1.40625rem; overflow: hidden; }
.product-detail .detail-main .dt-nav li { float: left; margin: 0 0.53125rem 0 0.40625rem; }
.product-detail .detail-main .dt-nav li a { display: inline-block; color: #76838F; font-size: 13px; position: relative; height: 1.40625rem; line-height: 1.40625rem; }
[data-dpr="2"] .product-detail .detail-main .dt-nav li a { font-size: 26px; }
[data-dpr="3"] .product-detail .detail-main .dt-nav li a { font-size: 39px; }
.product-detail .detail-main .dt-nav .cur { color: #62A8EA;font-size: 16px; }
[data-dpr="2"] .product-detail .detail-main .dt-nav .cur { font-size: 32px; }
[data-dpr="3"] .product-detail .detail-main .dt-nav .cur { font-size: 48px; }

.product-detail .detail-main .dt-nav .cur:before { content: ''; width: 0.74375rem; height: 0.0625rem; border-radius: 0.0625rem; background-color: #62A8EA; box-shadow: 0 3px 5px 0 rgba(98, 168, 234, 0.4); position: absolute; left: 50%; bottom: 0.15rem; transform: translateX(-50%) }
.product-detail .detail-main .product-tab { width: 9.0625rem; background-color: #fff; margin: 0 auto; }
.product-detail .detail-main .swiper-slide { width: 7.1875rem; }
.product-detail .detail-main .swiper-slide img { width: 100%; height: auto; }
.product-detail .detail-main .swiper-pagination { background-color: rgba(0, 0, 0, 0.4); display: inline-block; height: 0.59375rem; line-height: 0.59375rem; width: auto; padding: 0 0.25rem; right: 0; left: inherit; border-radius: 0.296875rem; color: #FEFEFE; font-size: 13px; }
[data-dpr="2"] .product-detail .detail-main .swiper-pagination { font-size: 26px; }
[data-dpr="3"] .product-detail .detail-main .swiper-pagination { font-size: 39px; }
.product-detail .detail-main .blocking { position: absolute; left: 0; bottom: 0; z-index: 12; width: 0; height: 0; border-bottom: 0.703125rem solid #fff; border-right: 9.0625rem solid transparent; }
.product-detail .detail-main .dt-cont { padding: 0 0.34375rem; }
.product-detail .detail-main .dt-cont .title { color: #526069; font-size: 17px; font-weight: bold; line-height: 0.75rem; max-height: 1.5rem; overflow: hidden; margin-bottom: 0.078125rem; }
[data-dpr="2"] .product-detail .detail-main .dt-cont .title { font-size: 34px; }
[data-dpr="3"] .product-detail .detail-main .dt-cont .title { font-size: 51px; }
.product-detail .detail-main .dt-cont .dt-info { color: #999; line-height: 0.5rem; font-size: 11px; }
[data-dpr="2"] .product-detail .detail-main .dt-cont .dt-info { font-size: 22px; }
[data-dpr="3"] .product-detail .detail-main .dt-cont .dt-info { font-size: 33px; }
.product-detail .detail-main .dt-cont .dt-info span { padding-right: 0.625rem; }
.product-detail .detail-main .dt-cont .price { margin-top: 0.125rem; color: #37474F; font-size: 22px; }
[data-dpr="2"] .product-detail .detail-main .dt-cont .price { font-size: 44px; }
[data-dpr="3"] .product-detail .detail-main .dt-cont .price { font-size: 66px; }
.product-detail .detail-main .dt-cont .price i { font-size: 16px; }
[data-dpr="2"] .product-detail .detail-main .dt-cont .price i { font-size: 32px; }
[data-dpr="3"] .product-detail .detail-main .dt-cont .price i { font-size: 48px; }
.product-detail .detail-main .dt-cont .price em { font-size: 17px; }
[data-dpr="2"] .product-detail .detail-main .dt-cont .price em { font-size: 34px; }
[data-dpr="3"] .product-detail .detail-main .dt-cont .price em { font-size: 51px; }
.product-detail .detail-main .dt-cont .rx, .product-detail .detail-main .dt-cont .otc { display: inline-block; height: 0.5rem; line-height: 0.5rem; border-radius: 0.25rem; background-color: #EAF3FD; float: right; margin-left: 0.234375rem; margin-top: 0.32rem; padding: 0 0.3125rem; color: #62A8EA; font-size: 11px; }
[data-dpr="2"] .product-detail .detail-main .dt-cont .rx, [data-dpr="2"] .product-detail .detail-main .dt-cont .otc { font-size: 22px; }
[data-dpr="3"] .product-detail .detail-main .dt-cont .rx, [data-dpr="3"] .product-detail .detail-main .dt-cont .otc { font-size: 33px; }
.product-detail .detail-main .dt-cont .the-day { position: relative;top: -0.06rem;display: inline-block; height: 0.5rem; line-height: 0.5rem; border-radius: 0.25rem; background-color: #5CD29D;padding: 0 0.3125rem; color: #fff; font-size: 11px; }
[data-dpr="2"] .product-detail .detail-main .dt-cont .the-day { font-size: 22px; }
[data-dpr="3"] .product-detail .detail-main .dt-cont .the-day { font-size: 33px; }
.product-detail .detail-main .dt-cont .dt-box { padding: 0rem 0;}
.product-detail .detail-main .dt-cont .dt-box-bordertop {border-top: solid #f5f5f5 0.26rem;}
.product-detail .detail-main .dt-cont .dt-box .dt-item { padding: 0.27625rem 0; }
.product-detail .detail-main .dt-cont .dt-box .dt-item a { display: block; padding: 0.15625rem 1.0625rem 0.15625rem 0.7rem; color: #526069; position: relative; }
.product-detail .detail-main .dt-cont .dt-box .dt-item a:before { content: ''; width: 0.15625rem; height: 0.15625rem; border-right: 0.026875rem solid #526069; border-bottom: 0.026875rem solid #526069; position: absolute; right: 0.078125rem; top: 50%; transform: translateY(-50%) rotate(-45deg); }
.product-detail .detail-main .dt-cont .dt-box .dt-item span { display: block; height: 0.46875rem; line-height: 0.46875rem; font-size: 13px; }
[data-dpr="2"] .product-detail .detail-main .dt-cont .dt-box .dt-item span { font-size: 26px; }
[data-dpr="3"] .product-detail .detail-main .dt-cont .dt-box .dt-item span { font-size: 39px; }
.product-detail .detail-main .dt-cont .dt-box .shop-item { background: url(../../../media/images/mendian.png) no-repeat 0 center/0.375rem auto; }
.product-detail .detail-main .dt-cont .dt-box .phone-item { background: url(../../../media/images/dianhua2.png) no-repeat 0.0625rem center/0.29688rem auto; }
.product-detail .detail-main .dt-cont .dt-box .addr-item { background: url(../../../media/images/dinwei.png) no-repeat 0.04688rem center/0.3125rem auto; }
.product-detail .detail-main .evaluate { padding: 0.46875rem 0 0.3rem;border-top: 0.26rem solid #f5f5f5; }
.product-detail .detail-main .evaluate .eva-mt { height: 0.65625rem; display: flex; padding: 0 0.40625rem; justify-content: space-between; align-items: center; }
.product-detail .detail-main .evaluate .eva-mt .eva-hd { color: #37474F; font-size: 15px; }
[data-dpr="2"] .product-detail .detail-main .evaluate .eva-mt .eva-hd { font-size: 30px; }
[data-dpr="3"] .product-detail .detail-main .evaluate .eva-mt .eva-hd { font-size: 45px; }
.product-detail .detail-main .evaluate .eva-mt .eva-bd { color: #76838F; padding-right: 0.3125rem; font-size: 13px; position: relative; }
[data-dpr="2"] .product-detail .detail-main .evaluate .eva-mt .eva-bd { font-size: 26px; }
[data-dpr="3"] .product-detail .detail-main .evaluate .eva-mt .eva-bd { font-size: 39px; }
.product-detail .detail-main .evaluate .eva-mt .eva-bd:before { content: ''; width: 0.15625rem; height: 0.15625rem; border-right: 0.046875rem solid #526069; border-bottom: 0.046875rem solid #526069; position: absolute; right: 0.078125rem; top: 50%; transform: translateY(-50%) rotate(-45deg); }
.product-detail .detail-main .evaluate .eva-mc { white-space: nowrap;overflow-x: auto;margin-top: 0.21875rem; height: 2.8125rem; padding-left: 0.40625rem;}
.product-detail .detail-main .evaluate .eva-mc ul { width: 200%; margin-bottom: 0;}
.product-detail .detail-main .evaluate .eva-mc ul li { display: inline-block;width: 8.125rem; height: 2.8125rem; border: 1px solid #eee; padding-top: 0.3125rem; margin-right: 0.3125rem; white-space: nowrap;}
.product-detail .detail-main .evaluate .eva-mc .li-mt { height: 0.78125rem; padding-left: 0.3125rem; }
.product-detail .detail-main .evaluate .eva-mc .li-mt .pic { width: 0.78125rem; height: 0.78125rem; background-color: #f6f6f6; border-radius: 50%; overflow: hidden; float: left; margin-right: 0.234375rem; }
.product-detail .detail-main .evaluate .eva-mc .li-mt .pic img { width: 0.78125rem; height: 0.78125rem; }
.product-detail .detail-main .evaluate .eva-mc .li-mt .score-box { float: left; width: 6.25rem; height: 0.515625rem; line-height: 0.515625rem; margin-top: 0.125rem; vertical-align: middle; }
.product-detail .detail-main .evaluate .eva-mc .li-mt .score-box span { padding-right: 0.15625rem; color: #37474F; font-size: 12px; float: left; }
[data-dpr="2"] .product-detail .detail-main .evaluate .eva-mc .li-mt .score-box span { font-size: 24px; }
[data-dpr="3"] .product-detail .detail-main .evaluate .eva-mc .li-mt .score-box span { font-size: 36px; }
.product-detail .detail-main .evaluate .eva-mc .li-mt .score-box img { width: 0.25rem; height: auto; float: left; margin: 0.125rem 0.046875rem 0 0; }
.product-detail .detail-main .evaluate .eva-mc .li-mc { padding: 0 0.3125rem; margin-top: 0.2rem; color: #37474F; font-size: 11px; height: 1.40625rem; line-height: 0.46875rem; overflow: hidden; }
[data-dpr="2"] .product-detail .detail-main .evaluate .eva-mc .li-mc { font-size: 22px; }
[data-dpr="3"] .product-detail .detail-main .evaluate .eva-mc .li-mc { font-size: 33px; }
.product-detail .detail-main .evaluate .eva-mc .li-empty { padding-top: 0.53125rem; height: 2.1875rem; text-align: center; color: #76838F; font-size: 13px; }
[data-dpr="2"] .product-detail .detail-main .evaluate .eva-mc .li-empty { font-size: 26px; }
[data-dpr="3"] .product-detail .detail-main .evaluate .eva-mc .li-empty { font-size: 39px; }
.product-detail .detail-main .part-nav { height: 1.25rem; position: relative; overflow: hidden; }
.product-detail .detail-main .part-nav:before { content: " "; position: absolute; left: 0; bottom: 0; width: 100%; height: 1px; border-top: 1px solid #D9D9D9; color: #D9D9D9; -webkit-transform-origin: 0 0; transform-origin: 0 0; -webkit-transform: scaleY(0.5); transform: scaleY(0.5); }
.product-detail .detail-main .part-nav ul { height: 1.25rem; }
.product-detail .detail-main .part-nav ul li { float: left; margin: 0 0.6875rem 0 0.40625rem; }
.product-detail .detail-main .part-nav ul li a { display: inline-block; height: 1.25rem; line-height: 1.25rem; color: #76838F; font-size: 13px; }
[data-dpr="2"] .product-detail .detail-main .part-nav ul li a { font-size: 26px; }
[data-dpr="3"] .product-detail .detail-main .part-nav ul li a { font-size: 39px; }
.product-detail .detail-main .part-nav ul li .cur { color: #62A8EA; }
.product-detail .detail-main .instructions { font-size: 12px; }
[data-dpr="2"] .product-detail .detail-main .instructions { font-size: 24px; }
[data-dpr="3"] .product-detail .detail-main .instructions { font-size: 36px; }
.product-detail .detail-main .instructions img { max-width: 100%; }
.product-detail .detail-main .specification { padding: 0.15625rem 0.234375rem; }
.product-detail .detail-main .specification .spec-cont { border-top: 1px solid #ececec; border-left: 1px solid #ececec; }
.product-detail .detail-main .specification .spe-item { display: flex; align-items: stretch; line-height: 0.46875rem; font-size: 12px; }
[data-dpr="2"] .product-detail .detail-main .specification .spe-item { font-size: 24px; }
[data-dpr="3"] .product-detail .detail-main .specification .spe-item { font-size: 36px; }
.product-detail .detail-main .specification .spe-item .item-hd { padding: 0.125rem 0.125rem 0.125rem 0.1875rem; width: 1.796875rem; color: #1d1d1d; border-right: 1px solid #ececec; border-bottom: 1px solid #ececec; }
.product-detail .detail-main .specification .spe-item .item-bd { padding: 0.125rem 0.125rem 0.125rem 0.1875rem; color: #666; flex: 1; border-right: 1px solid #ececec; border-bottom: 1px solid #ececec; }
.product-detail .detail-main .evaluate-cont .mt { border-bottom: 0.15625rem solid #f5f5f5; }
.product-detail .detail-main .evaluate-cont .mt .mt-hd { padding: 0.3125rem 0 0.3125rem 0.40625rem; overflow: hidden; }
.product-detail .detail-main .evaluate-cont .mt .mt-hd .pic { width: 0.78125rem; height: 0.78125rem; float: left; margin-right: 0.5rem; overflow: hidden; }
.product-detail .detail-main .evaluate-cont .mt .mt-hd .pic img { width: 0.78125rem; height: 0.78125rem; }
.product-detail .detail-main .evaluate-cont .mt .mt-hd p { float: left; line-height: 0.625rem; height: 0.625rem; margin-top: 0.078125rem; color: #444444; font-size: 14px; }
[data-dpr="2"] .product-detail .detail-main .evaluate-cont .mt .mt-hd p { font-size: 28px; }
[data-dpr="3"] .product-detail .detail-main .evaluate-cont .mt .mt-hd p { font-size: 42px; }
.product-detail .detail-main .evaluate-cont .mt .mt-hd p span { color: #FF6600; padding-left: 0.15625rem; }
.product-detail .detail-main .evaluate-cont .mt .mt-bd { padding: 0.5rem 0 0.234375rem 0.40625rem; overflow: hidden; }
.product-detail .detail-main .evaluate-cont .mt .mt-bd span { min-width: 1.875rem; height: 0.75rem; line-height: 0.71875rem; text-align: center; border-radius: 0.0625rem; background-color: #F2F9FF; border: 1px solid #62A8EA; color: #444444; font-size: 12px; float: left; margin: 0 0.3125rem 0.3125rem 0; }
[data-dpr="2"] .product-detail .detail-main .evaluate-cont .mt .mt-bd span { font-size: 24px; }
[data-dpr="3"] .product-detail .detail-main .evaluate-cont .mt .mt-bd span { font-size: 36px; }
.product-detail .detail-main .evaluate-cont .mt .mt-bd .cur { background-color: #62A8EA; color: #fff; }
.product-detail .detail-main .evaluate-cont .mc { margin-top: 0.15625rem; }
.product-detail .detail-main .evaluate-cont .mc .item { position: relative; padding: 0.46875rem 0 0.3125rem; }
.product-detail .detail-main .evaluate-cont .mc .item:before { content: " "; position: absolute; left: 0.40625rem; bottom: 0; width: 100%; height: 1px; border-top: 1px solid #D9D9D9; color: #D9D9D9; -webkit-transform-origin: 0 0; transform-origin: 0 0; -webkit-transform: scaleY(0.5); transform: scaleY(0.5); }
.product-detail .detail-main .evaluate-cont .mc .item-hd { height: 0.78125rem; padding: 0 0.3125rem; }
.product-detail .detail-main .evaluate-cont .mc .item-hd .pic { width: 0.78125rem; height: 0.78125rem; background-color: #f6f6f6; border-radius: 50%; overflow: hidden; float: left; margin-right: 0.234375rem; }
.product-detail .detail-main .evaluate-cont .mc .item-hd .pic img { width: 0.78125rem; height: 0.78125rem; }
.product-detail .detail-main .evaluate-cont .mc .item-hd .score-box { float: left; width: 5rem; height: 0.515625rem; line-height: 0.515625rem; margin-top: 0.125rem; vertical-align: middle; }
.product-detail .detail-main .evaluate-cont .mc .item-hd .score-box span { padding-right: 0.15625rem; color: #37474F; font-size: 12px; float: left; }
[data-dpr="2"] .product-detail .detail-main .evaluate-cont .mc .item-hd .score-box span { font-size: 24px; }
[data-dpr="3"] .product-detail .detail-main .evaluate-cont .mc .item-hd .score-box span { font-size: 36px; }
.product-detail .detail-main .evaluate-cont .mc .item-hd .score-box img { width: 0.25rem; height: auto; float: left; margin: 0.125rem 0.046875rem 0 0; }
.product-detail .detail-main .evaluate-cont .mc .item-hd .time { float: right; margin-top: 0.125rem; color: #A3AFB7; font-size: 12px; }
[data-dpr="2"] .product-detail .detail-main .evaluate-cont .mc .item-hd .time { font-size: 24px; }
[data-dpr="3"] .product-detail .detail-main .evaluate-cont .mc .item-hd .time { font-size: 36px; }
.product-detail .detail-main .evaluate-cont .mc .item-bd { padding: 0.3125rem 0.40625rem 0.15625rem; color: #37474F; font-size: 11px; }
[data-dpr="2"] .product-detail .detail-main .evaluate-cont .mc .item-bd { font-size: 22px; }
[data-dpr="3"] .product-detail .detail-main .evaluate-cont .mc .item-bd { font-size: 33px; }
.product-detail .detail-main .evaluate-cont .mc .item-ft { padding-bottom: 1px; padding-left: 0.40625rem; overflow: hidden; }
.product-detail .detail-main .evaluate-cont .mc .item-ft .pic { width: 2.03125rem; height: 2.03125rem; float: left; margin: 0 0.3125rem 0.15625rem 0; overflow: hidden; }
.product-detail .detail-main .evaluate-cont .mc .item-ft .pic img { width: 2.03125rem; height: 2.03125rem; }
.product-detail .detail-main .dt-footer { width: 100%; height: 1.5625rem; background-color: #fff; position: fixed; left: 0; bottom: 0; z-index: 11; }
.product-detail .detail-main .dt-footer:before { content: " "; position: absolute; left: 0; top: 0; width: 100%; height: 1px; border-top: 1px solid #D9D9D9; color: #D9D9D9; -webkit-transform-origin: 0 0; transform-origin: 0 0; -webkit-transform: scaleY(0.5); transform: scaleY(0.5); }
.product-detail .detail-main .dt-footer .sp-cart { width: 1.25rem; text-align: center; float: left; margin-left: 0.625rem; height: 1.5625rem; padding-top: 0.15625rem; }
.product-detail .detail-main .dt-footer .sp-cart span { display: inline-block; width: 1.25rem; height: 1.25rem; padding-top: 0.140625rem; border-radius: 50%; cursor: pointer; position: relative; background: #F8F8F8 url(../../../media/images/gouwuche.png) no-repeat center center/0.65625rem auto; }
.product-detail .detail-main .dt-footer .sp-cart span i { display: inline-block; height: 0.4375rem; line-height: 0.4375rem; color: #AAAEB9; padding: 0 0.140625rem; color: #AAAEB9; font-size: 10px; position: absolute; left: 60%; top: -0.078125rem; box-shadow: 0 0.03125rem 0.0625rem 0 rgba(0, 0, 0, 0.1); border-radius: 50%; border: 1px solid #F8F8F8; background-color: #F8F8F8; }
[data-dpr="2"] .product-detail .detail-main .dt-footer .sp-cart span i { font-size: 20px; }
[data-dpr="3"] .product-detail .detail-main .dt-footer .sp-cart span i { font-size: 30px; }
.product-detail .detail-main .dt-footer .sp-cart.have span { background: #62a8ea url(../../../media/images/gouwuche2.png) no-repeat center center/0.65625rem auto; }
.product-detail .detail-main .dt-footer .sp-cart.have span i { border: 1px solid #fff; color: #fff; background-color: #62a8ea; }
.product-detail .detail-main .dt-footer .add-cart { display: block; width: 4.6875rem; height: 0.9375rem; line-height: 0.9375rem; margin-top: 0.3rem; margin-right: 0.40625rem; border-radius: 0.46875rem; text-align: center; float: right; background-color: #62A8EA; color: #fff; font-size: 13px; }
[data-dpr="2"] .product-detail .detail-main .dt-footer .add-cart { font-size: 26px; }
[data-dpr="3"] .product-detail .detail-main .dt-footer .add-cart { font-size: 39px; }
.product-detail .detail-main .dt-footer .check-btn { display: block; width: 92%; height: 0.9375rem; line-height: 0.9375rem; margin: 0.3rem auto 0; border-radius: 0.46875rem; text-align: center; background-color: #62A8EA; color: #fff; font-size: 13px; }
[data-dpr="2"] .product-detail .detail-main .dt-footer .check-btn { font-size: 26px; }
[data-dpr="3"] .product-detail .detail-main .dt-footer .check-btn { font-size: 39px; }
.product-detail .detail-main .dt-footer .quantity { float: right; margin-right: 0.40625rem; margin-top: 0.265625rem; height: 1.0rem; }
.product-detail .detail-main .dt-footer .quantity .minus { display: block; width: 1.0rem; height: 1.0rem; float: left; background: url(../../../media/images/jianshao.png) no-repeat 0 0/1rem auto; }
.product-detail .detail-main .dt-footer .quantity .plus { display: block; width: 2.1875rem; height: 1rem; float: left; background: url(../../../media/images/tianjia280x128.png) no-repeat 0 0/2.1875rem auto; }
.product-detail .detail-main .dt-footer .quantity .input-wrap { display: block; width: 1.40625rem; float: left; }
.product-detail .detail-main .dt-footer .quantity .input-wrap input { display: block; width: 100%; height: 1.0rem; text-align: center; color: #62A8EA; line-height: 1rem; border: none; font-size: 15px; background: none; }
[data-dpr="2"] .product-detail .detail-main .dt-footer .quantity .input-wrap input { font-size: 30px; }
[data-dpr="3"] .product-detail .detail-main .dt-footer .quantity .input-wrap input { font-size: 45px; }

/* 2018-12-3 */
.product-detail .popups {
    width: 0;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 55;
}

.product-detail .popups .popups_mask {
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.4);
    z-index: 56;
}

.product-detail .popups .popups_items {
    position: absolute;
    bottom: 0;
    background: #fff;
    width: 100%;
    border-radius: 0.25rem 0.25rem 0px 0px;
    -webkit-transform: translateY(100%);
    -ms-transform: translateY(100%);
    -o-transform: translateY(100%);
    transform: translateY(100%);
    transition: all 0.3s;
    z-index: 57;
}

.product-detail .popups .popups_items .coupon_text {
    height: 1.40625rem;
    line-height: 1.40625rem;
    text-align: center;
    color: #333333;
    font-size: 16px;
    position: relative;
}

[data-dpr="2"] .product-detail .popups .popups_items .coupon_text {
    font-size: 32px;
}

[data-dpr="3"] .product-detail .popups .popups_items .coupon_text {
    font-size: 48px;
}

.product-detail .popups .popups_items .coupon_text:before {
    content: '';
    position: absolute;
    left: 0.40625rem;
    bottom: 0;
    right: 0;
    left: 0;
    height: 1px;
    border-top: 1px solid #E4EAEC;
    color: #E8E8ED;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
}

.product-detail .popups .popups_items .coupon_text .close_pic {
    position: absolute;
    width: 0.3125rem;
    height: 0.3125rem;
    right: 0.390625rem;
    top: 0.46875rem;
    line-height: 1;
}

.product-detail .popups .popups_items .coupon_text .close_pic img {
    width: 0.3125rem;
    height: 0.3125rem;
}

.product-detail .popups .popups_items .coupon .coupon_title {
    font-size: 28px;
    color: #374750;
    font-size: 16px;
    padding: 0.46875rem 0 0.46875rem 0.40625rem;
}

[data-dpr="2"] .product-detail .popups .popups_items .coupon .coupon_title {
    font-size: 32px;
}

[data-dpr="3"] .product-detail .popups .popups_items .coupon .coupon_title {
    font-size: 48px;
}

.product-detail .popups .nav-cont {
    padding: 0 0.25rem;
    max-height: 7.2rem;
    overflow: hidden;
    overflow-y: auto;
}

.product-detail .popups .nav-cont .item {
    background-color: #fff;
    margin-bottom: 0.265625rem;
    border-radius: 0.125rem;
    padding: 0.21875rem 1.40625rem 0 2.96875rem;
    position: relative;
    height: 2.1875rem;
    overflow: hidden;
}

.product-detail .popups .nav-cont .item .mlt {
    width: 2.65625rem;
    height: 2.1875rem;
    position: absolute;
    left: 0;
    top: 0;
    background: #62A8EA;
    background: -moz-linear-gradient(left, #62A8EA, #28C8FF);
    background: -webkit-gradient(linear, 0 0, 100% 0, from(#62A8EA), to(#28C8FF));
    background: -o-linear-gradient(left, #62A8EA, #28C8FF);
}

.product-detail .popups .nav-cont .item .mlt span {
    color: #fff;
    font-size: 25px;
    transform: translate(-50%, -50%);
    position: absolute;
    left: 50%;
    top: 50%;
}

[data-dpr="2"] .product-detail .popups .nav-cont .item .mlt span {
    font-size: 50px;
}

[data-dpr="3"] .product-detail .popups .nav-cont .item .mlt span {
    font-size: 75px;
}

.product-detail .popups .nav-cont .item .mlt span:before {
    content: '¥';
    color: #fff;
    font-size: 11px;
    position: absolute;
    left: -0.2rem;
    top: -0.13rem;
}

[data-dpr="2"] .product-detail .popups .nav-cont .item .mlt span:before {
    font-size: 22px;
}

[data-dpr="3"] .product-detail .popups .nav-cont .item .mlt span:before {
    font-size: 33px;
}

.product-detail .popups .nav-cont .item .mlt:before {
    content: '';
    width: 0.0625rem;
    height: 2.1875rem;
    background: url(../../../media/images/bg4x14.png) repeat-y 0 0.06rem/0.0625rem auto;
    position: absolute;
    right: 0;
    top: 0;
}

.product-detail .popups .nav-cont .item p {
    height: 1.03125rem;
    line-height: 0.515625rem;
    overflow: hidden;
    color: #526069;
    font-size: 14px;
    margin-bottom: 0.078125rem;
    font-weight: bold;
}

[data-dpr="2"] .product-detail .popups .nav-cont .item p {
    font-size: 28px;
}

[data-dpr="3"] .product-detail .popups .nav-cont .item p {
    font-size: 42px;
}

.product-detail .popups .nav-cont .item span {
    color: #76838F;
    line-height: 0.515625rem;
    font-size: 13px;
}

[data-dpr="2"] .product-detail .popups .nav-cont .item span {
    font-size: 26px;
}

[data-dpr="3"] .product-detail .popups .nav-cont .item span {
    font-size: 39px;
}

.product-detail .popups .nav-cont .item .soon {
    width: 1.34375rem;
    height: 1.34375rem;
    position: absolute;
    bottom: 0;
    right: 0;
}

.product-detail .popups .nav-cont .item .soon img {
    width: 1.34375rem;
    height: 1.34375rem;
}

.product-detail .popups .nav-cont .item .receive_btn {
    display: inline-block;
    position: absolute;
    background: #62A8EA;
    box-shadow: 0 0.04688rem 0.125rem 0 rgba(98, 168, 234, 0.6);
    border-radius: 0.546875rem;
    width: 1.5625rem;
    height: 0.78125rem;
    line-height: 0.78125rem;
    text-align: center;
    font-size: 15px;
    color: #FFFFFF;
    right: 0.25rem;
    bottom: 0.3125rem;
}

[data-dpr="2"] .product-detail .popups .nav-cont .item .receive_btn {
    font-size: 30px;
}

[data-dpr="3"] .product-detail .popups .nav-cont .item .receive_btn {
    font-size: 45px;
}

.product-detail .popups .nav-cont .item-selected .mlt {
    opacity: 0.5;
}

.product-detail .popups .carry_out {
    margin-top: 0.25rem;
    padding: 0.3125rem 0.40625rem;
    position: relative;
}

.product-detail .popups .carry_out:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    height: 1px;
    border-top: 1px solid #E4EAEC;
    color: #E8E8ED;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
}

.product-detail .popups .carry_out a {
    display: block;
    height: 0.9375rem;
    text-align: center;
    line-height: 0.9375rem;
    background: #62A8EA;
    box-shadow: 0 0.04688rem 0.125rem 0 rgba(98, 168, 234, 0.6);
    border-radius: 0.46875rem;
    color: #fff;
    font-size: 15px;
}

[data-dpr="2"] .product-detail .popups .carry_out a {
    font-size: 30px;
}

[data-dpr="3"] .product-detail .popups .carry_out a {
    font-size: 45px;
}

/* 2018-12-26 */
.product-detail .detail-main .dt-cont { padding: 0; }

.product-detail .detail-main .dt-cont .title { margin: 0 0.34375rem; }

.product-detail .detail-main .dt-cont .dt-info { margin: 0rem 0.34375rem; }

.product-detail .detail-main .dt-cont .dt-infoColor { color: #2e363e }

.product-detail .detail-main .dt-cont .price { margin: 0.1875rem 0.34375rem 0.53125rem 0.34375rem; overflow: hidden; }



.product-detail .detail-main .dt-footer .sp-cart span i { font-size: 12px; }
[data-dpr="2"] .product-detail .detail-main .dt-footer .sp-cart span i { font-size: 24px; }
[data-dpr="3"] .product-detail .detail-main .dt-footer .sp-cart span i { font-size: 36px; }

.product-detail .detail-main .dt-footer .add-cart { box-shadow: 0 0.04688rem 0.125rem 0 rgba(98, 168, 234, 0.6); }

.product-detail .detail-main .dt-cont .dt-box { width: 100%; padding: 0rem 0.34375rem; }

.product-detail .detail-main .dt-nav .index-link { width: 1.5625rem; height: 1.40625rem; position: absolute; right: 0; top: 0; padding-top: 0.84375rem; text-align: center; color: #76838F; font-size: 13px; background: url(../../../media/images/icon-home2.png) no-repeat center 0.1875rem/0.5625rem auto; }
[data-dpr="2"] .product-detail .detail-main .dt-nav .index-link { font-size: 26px; }
[data-dpr="3"] .product-detail .detail-main .dt-nav .index-link { font-size: 39px; }
.product-detail .detail-main .dt-nav .index-link:before { box-sizing: border-box; content: " "; position: absolute; opacity: 0.5; left: 0; top: 0; bottom: 0; width: 1px; border-left: 1px solid #DDDDDD; color: #Efff; -webkit-transform-origin: 0 0; transform-origin: 0 0; -webkit-transform: scaleX(0.5); transform: scaleX(0.5); }

.product-detail .detail-main .promotion { position: relative; background: #FFF7F2 url(../../../media/images/cuxiao.png) no-repeat 0.40625rem center/0.375rem auto; padding: 0.46875rem 0.875rem 0.46875rem 1.078125rem; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; line-height: 0.46875rem; color: #374750; font-size: 14px; }
[data-dpr="2"] .product-detail .detail-main .promotion { font-size: 28px; }
[data-dpr="3"] .product-detail .detail-main .promotion { font-size: 42px; }
.product-detail .detail-main .promotion:before { content: ''; width: 0.15625rem; height: 0.15625rem; border-right: 0.046875rem solid #526069; border-bottom: 0.046875rem solid #526069; position: absolute; right: 0.40625rem; top: 50%; transform: translateY(-50%) rotate(-45deg); }

.product-detail .detail-main .discount-coupon { position: relative; background: #fff url(../../../media/images/youhuiquan33.png) no-repeat 0.35rem center/0.375rem auto; }
.product-detail .detail-main .discount-coupon:before { box-sizing: border-box; content: " "; position: absolute; left: 0.40625rem; bottom: 0; right: 0; height: 1px; border-top: 1px solid #E8E8ED; color: #E8E8ED; -webkit-transform-origin: 0 0; transform-origin: 0 0; -webkit-transform: scaleY(0.5); transform: scaleY(0.5); }
.product-detail .detail-main .discount-coupon a { display: block; padding: 0.390625rem 0.875rem 1px 1.078125rem; position: relative; }
.product-detail .detail-main .discount-coupon a span { display: inline-block; margin: 0 0.3125rem 0.390625rem 0; padding: 0.078125rem 0.15625rem; background-color: #f03a31; font-size: 14px; color: #fff; border-radius: 0.03125rem; position: relative; }
[data-dpr="2"] .product-detail .detail-main .discount-coupon a span { font-size: 28px; }
[data-dpr="3"] .product-detail .detail-main .discount-coupon a span { font-size: 42px; }
.product-detail .detail-main .discount-coupon a span:before { content: ''; width: 0.15625rem; height: 0.15625rem; border-radius: 50%; background-color: #fff; position: absolute; top: 50%; left: 0; transform: translate(-60%, -50%); }
.product-detail .detail-main .discount-coupon a span:after { content: ''; width: 0.15625rem; height: 0.15625rem; border-radius: 50%; background-color: #fff; position: absolute; top: 50%; right: 0; transform: translate(60%, -50%); }
.product-detail .detail-main .discount-coupon a:before { content: ''; width: 0.15625rem; height: 0.15625rem; border-right: 0.046875rem solid #526069; border-bottom: 0.046875rem solid #526069; position: absolute; right: 0.40625rem; top: 50%; transform: translateY(-50%) rotate(-45deg); }

.product-detail .detail-main .instructions .mt { border-top: 0.26rem solid #f5f5f5;line-height: 0.65625rem; height: 0.65625rem; font-size: 15px; color: #374750; font-weight: bold; position: relative; padding: 0 0.46875rem; height: 1.25rem; line-height: 1rem; }
[data-dpr="2"] .product-detail .detail-main .instructions .mt { font-size: 30px; }
[data-dpr="3"] .product-detail .detail-main .instructions .mt { font-size: 45px; }
.product-detail .detail-main .instructions .mt:before { content: ''; position: absolute; background: #62A8EA; width: 0.15625rem; height: 0.46875rem; left: 0; top: 50%; transform: translateY(-50%); z-index: 9; }
.product-detail .detail-main .instructions .mc { text-align: center; font-size: 12px; }
[data-dpr="2"] .product-detail .detail-main .instructions .mc { font-size: 24px; }
[data-dpr="3"] .product-detail .detail-main .instructions .mc { font-size: 36px; }
.product-detail .detail-main .instructions .mc img { max-width: 100%; height: auto; }



.product-detail .detail-main .specification { padding: 0;padding-bottom: 0.3rem; }
.product-detail .detail-main .specification .mt { line-height: 0.65625rem; height: 0.65625rem; font-size: 15px; color: #374750; font-weight: bold; position: relative; padding: 0 0.46875rem; height: 1.25rem; line-height: 1.25rem; }
[data-dpr="2"] .product-detail .detail-main .specification .mt { font-size: 30px; }
[data-dpr="3"] .product-detail .detail-main .specification .mt { font-size: 45px; }
.product-detail .detail-main .specification .mt:before { content: ''; position: absolute; background: #62A8EA; width: 0.15625rem; height: 0.46875rem; left: 0; top: 50%; transform: translateY(-50%); z-index: 999; }
.product-detail .detail-main .specification .mc { padding: 0.3125rem 0.40625rem 0.15625rem; position: relative; width: 100%; overflow: hidden; }
.product-detail .detail-main .specification .mc table { width: 100%; }
.product-detail .detail-main .specification .mc table tr { border: 0.015625rem solid #E4EAEC; }
.product-detail .detail-main .specification .mc table tr th { width: 2.421875rem; color: #374750; font-size: 14px; padding: 0.125rem 0.15625rem; line-height: 0.53125rem; border-right: 0.015625rem solid #E4EAEC; text-align: left; vertical-align: middle; font-weight: normal; }
[data-dpr="2"] .product-detail .detail-main .specification .mc table tr th { font-size: 28px; }
[data-dpr="3"] .product-detail .detail-main .specification .mc table tr th { font-size: 42px; }
.product-detail .detail-main .specification .mc table tr td { padding: 0.125rem 0.15625rem; color: #374750; font-size: 14px; line-height: 0.53125rem; }
[data-dpr="2"] .product-detail .detail-main .specification .mc table tr td { font-size: 28px; }
[data-dpr="3"] .product-detail .detail-main .specification .mc table tr td { font-size: 42px; }




.detail-main  .mc-kong{
    height: 2.1rem;  background: white;  text-align: center;  line-height: 2.1rem;  font-weight: 400;  color: #76838f;  font-size: 13px;  position: relative;}
[data-dpr="2"] .detail-main  .mc-kong { font-size: 26px; }
[data-dpr="3"] .detail-main  .mc-kong { font-size: 39px; }


.detail-main  .instructions .mc-kong{;height: 2.6rem;}


/*# sourceMappingURL=detail.css.map */


.product-detail .detail-main .promotion { position: relative; background: #FFF7F2 url(../../../media/images/cuxiao.png) no-repeat 0.40625rem center/0.375rem auto; padding: 0.46875rem 0.875rem 0.46875rem 1.078125rem; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; line-height: 0.46875rem; color: #374750; font-size: 14px; }
[data-dpr="2"] .product-detail .detail-main .promotion { font-size: 28px; }
[data-dpr="3"] .product-detail .detail-main .promotion { font-size: 42px; }
.product-detail .detail-main .promotion:before { content: ''; width: 0.15625rem; height: 0.15625rem; border-right: 0.046875rem solid #526069; border-bottom: 0.046875rem solid #526069; position: absolute; right: 0.40625rem; top: 50%; transform: translateY(-50%) rotate(-45deg); }
/*.product-detail .detail-main .dt-cont .dt-box { padding: 0.2rem 0; }*/
.product-detail .detail-main .dt-cont .dt-box .dt-item { padding: 0.27625rem 0; position: relative}
.product-detail .detail-main .dt-cont .dt-box .dt-item:after{content: '';position: absolute;height: 1px;right: -0.34375rem;left: 0.75rem;bottom: 0;background: #eee;}
.product-detail .detail-main .dt-cont .dt-box .dt-item:last-child:after{display: none;}





.product-detail .detail-main .dt-cont .dt-box .dt-item a { display: block; padding: 0.15625rem 1.0625rem 0.15625rem 0.7rem; color: #526069; position: relative; }
.product-detail .detail-main .dt-cont .dt-box .dt-item a:before { content: ''; width: 0.15625rem; height: 0.15625rem; border-right: 0.046875rem solid #526069; border-bottom: 0.046875rem solid #526069; position: absolute; right: 0.078125rem; top: 50%; transform: translateY(-50%) rotate(-45deg); }
.product-detail .detail-main .dt-cont .dt-box .dt-item span { display: block; height: 0.46875rem; line-height: 0.46875rem; font-size: 13px; }
.product-detail [data-dpr="2"] .detail-main .dt-cont .dt-box .dt-item span { font-size: 26px; }
.product-detail [data-dpr="3"] .detail-main .dt-cont .dt-box .dt-item span { font-size: 39px; }
.product-detail .detail-main .dt-cont .dt-box .shop-item { background: url(../../../media/images/mendian.png) no-repeat 0 center/0.375rem auto; }
.product-detail .detail-main .dt-cont .dt-box .phone-item { background: url(../../../media/images/dianhua2.png) no-repeat 0.0625rem center/0.29688rem auto; }
.product-detail .detail-main .dt-cont .dt-box .addr-item { background: url(../../../media/images/dinwei.png) no-repeat 0.04688rem center/0.3125rem auto; }

/*# sourceMappingURL=detail.css.map */
/* 2018-12-3 */
/*.product-detail .detail-main .dt-cont .dt-box .dt-item a {*/
    /*flex: 1;*/
    /*padding: 0.15625rem 0 0.15625rem 0.7rem;*/
/*}*/

.product-detail .detail-main .dt-cont .dt-box .coupon-item {
    background: url(../../../media/images/youhuiquan33.png) no-repeat 0 center/0.375rem auto;
}

.product-detail .detail-main .dt-cont .dt-box .dt-item p {
    display: inline-block;
    color: #FEFEFE;
    line-height: 0.46875rem;
    padding: 0.078125rem 0.15625rem;
    background: #f03a31;
    border-radius: 2px;
    margin-right: 0.234375rem;
    margin-bottom: 0.134375rem;
    font-size: 15px;
    position: relative;
}

[data-dpr="2"] .product-detail .detail-main .dt-cont .dt-box .dt-item p {
    font-size: 30px;
}

[data-dpr="3"] .product-detail .detail-main .dt-cont .dt-box .dt-item p {
    font-size: 45px;
}

.product-detail .detail-main .dt-cont .dt-box .dt-item .last_chlid {
    margin-right: 0;
}

.product-detail .detail-main .dt-cont .dt-box .dt-item p .sp1 {
    display: block;
    width: 0.15625rem;
    height: 0.15625rem;
    background: #fff;
    border-radius: 50%;
    position: absolute;
    left: -0.078125rem;
    top: 50%;
    transform: translateY(-50%);
}

.product-detail .detail-main .dt-cont .dt-box .dt-item p .sp2 {
    display: block;
    width: 0.15625rem;
    height: 0.15625rem;
    background: #fff;
    border-radius: 50%;
    position: absolute;
    right: -0.078125rem;
    top: 50%;
    transform: translateY(-50%);
}



.product-detail .instructions .mt { line-height: 0.65625rem; height: 0.65625rem; font-size: 15px; color: #374750; font-weight: bold; position: relative; padding: 0 0.46875rem; height: 1.25rem; line-height: 1.25rem; }
[data-dpr="2"] .product-detail  .instructions .mt { font-size: 30px; }
[data-dpr="3"] .product-detail .instructions .mt { font-size: 45px; }
.product-detail  .instructions .mt:before { content: ''; position: absolute; background: #62A8EA; width: 0.15625rem; height: 0.46875rem; left: 0; top: 50%; transform: translateY(-50%); z-index: 9; }
.product-detail  .instructions .mc { text-align: center; font-size: 12px; }

.product-detail .index-link { width: 1.5625rem; height: 1.40625rem; position: absolute; right: 0; top: 0; padding-top: 0.84375rem; text-align: center; color: #76838F; font-size: 13px; background: url(../../../media/images/index-home.png) no-repeat center 0.1875rem/0.5625rem auto; }
[data-dpr="2"] .product-detail .index-link { font-size: 26px; }
[data-dpr="3"] .product-detail .index-link { font-size: 39px; }
.product-detail .index-link:before { box-sizing: border-box; content: " "; position: absolute; opacity: 0.5; left: 0; top: 0; bottom: 0; width: 1px; border-left: 1px solid #DDDDDD; color: #Efff; -webkit-transform-origin: 0 0; transform-origin: 0 0; -webkit-transform: scaleX(0.5); transform: scaleX(0.5); }
