html, body {
    height: 100%;
    background-color: #f5f5f5;
}

.order-comment .evaluation .mt {
    height: 1.375rem;
    line-height: 1.375rem;
    padding: 0 1.40625rem;
    text-align: center;
    background-color: #fff;
    position: fixed;
    z-index: 20;
    left: 0;
    right: 0;
    top: 0;
}

.order-comment .evaluation .mt span {
    color: #333;
    font-size: 18px;
}

[data-dpr="2"] .order-comment .evaluation .mt span {
    font-size: 36px;
}

[data-dpr="3"] .order-comment .evaluation .mt span {
    font-size: 54px;
}

.order-comment .evaluation .mt .rt-btn {
    position: absolute;
    top: 0;
    right: 0.40625rem;
    color: #76838F;
    font-size: 16px;
}

[data-dpr="2"] .order-comment .evaluation .mt .rt-btn {
    font-size: 32px;
}

[data-dpr="3"] .order-comment .evaluation .mt .rt-btn {
    font-size: 48px;
}

.order-comment .evaluation .mt .color-blue {
    color: #62A8EA;
}

.order-comment .evaluation .mt .back {
    display: block;
    width: 1.375rem;
    height: 1.375rem;
    position: absolute;
    left: 0;
    top: 0;
}

.order-comment .evaluation .mt .back:after {
    content: " ";
    display: inline-block;
    height: 0.28125rem;
    width: 0.28125rem;
    border-width: 0 0 0.0625rem 0.0625rem;
    border-color: #303030;
    border-style: solid;
    -webkit-transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
    transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
    position: absolute;
    top: 50%;
    margin-top: -0.1406rem;
    margin-right: -0.1406rem;
    right: 50%;
}

.order-comment .evaluation .hold-div-top {
    height: 1.375rem;
}

.order-comment .evaluation .mc-hd {
    padding: 0.46875rem 0 0.46875rem 0.40625rem;
    position: relative;
    background-color: #fff;
}

.order-comment .evaluation .mc-hd p {
    color: #0C1828;
    font-size: 16px;
    line-height: 0.6875rem;
}

[data-dpr="2"] .order-comment .evaluation .mc-hd p {
    font-size: 32px;
}

[data-dpr="3"] .order-comment .evaluation .mc-hd p {
    font-size: 48px;
}

.order-comment .evaluation .mc-hd span {
    color: #55697C;
    font-size: 11px;
}

[data-dpr="2"] .order-comment .evaluation .mc-hd span {
    font-size: 22px;
}

[data-dpr="3"] .order-comment .evaluation .mc-hd span {
    font-size: 33px;
}

.order-comment .evaluation .mc-hd:before {
    content: " ";
    position: absolute;
    left: 0.40625rem;
    bottom: 0;
    right: 0;
    height: 1px;
    border-top: 1px solid #E4EAEC;
    color: #E4EAEC;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
    z-index: 2;
}

.order-comment .evaluation .mc-bd {
    padding: 0.28125rem 0 0 0.40625rem;
    background-color: #fff;
}

.order-comment .evaluation .mc-bd .bot-title {
    height: 0.59375rem;
    line-height: 0.59375rem;
    color: #37474F;
    padding-left: 0.625rem;
    font-size: 15px;
    margin-bottom: 0.46875rem;
    background: url(../../../media/images/pingfen.png) no-repeat 0 center/0.4375rem auto;
}

[data-dpr="2"] .order-comment .evaluation .mc-bd .bot-title {
    font-size: 30px;
}

[data-dpr="3"] .order-comment .evaluation .mc-bd .bot-title {
    font-size: 45px;
}

.order-comment .evaluation .mc-bd .bot-score {
    overflow: hidden;
    padding-bottom: 1px;
}

.order-comment .evaluation .mc-bd .bot-score .score-box {
    width: 100%;
    height: 0.5rem;
    line-height: 0.5rem;
    margin-bottom: 0.625rem;
    vertical-align: middle;
}

.order-comment .evaluation .mc-bd .bot-score .score-box .label {
    padding-right: 0.5rem;
    font-size: 14px;
    color: #37474F;
    float: left;
}

[data-dpr="2"] .order-comment .evaluation .mc-bd .bot-score .score-box .label {
    font-size: 28px;
}

[data-dpr="3"] .order-comment .evaluation .mc-bd .bot-score .score-box .label {
    font-size: 42px;
}

.order-comment .evaluation .mc-bd .bot-score .score-box .commstar {
    width: 5.0rem;
    float: left;
    height: 0.5rem;
    position: relative;
}

.order-comment .evaluation .mc-bd .bot-score .score-box .commstar .star {
    display: block;
    cursor: pointer;
    width: 20%;
    height: 0.5rem;
    position: absolute;
    top: 0;
    left: 0;
    background: url(../../../media/images/star320x30-1.png) no-repeat 0 0/auto 100%;
}

.order-comment .evaluation .mc-bd .bot-score .score-box .commstar .star1 {
    width: 20%;
    z-index: 5;
}

.order-comment .evaluation .mc-bd .bot-score .score-box .commstar .star2 {
    width: 40%;
    z-index: 4;
}

.order-comment .evaluation .mc-bd .bot-score .score-box .commstar .star3 {
    width: 60%;
    z-index: 3;
}

.order-comment .evaluation .mc-bd .bot-score .score-box .commstar .star4 {
    width: 80%;
    z-index: 2;
}

.order-comment .evaluation .mc-bd .bot-score .score-box .commstar .star5 {
    width: 100%;
    z-index: 1;
}

.order-comment .evaluation .mc-bd .bot-score .score-box .commstar .active {
    background: url(../../../media/images/star320x30-2.png) no-repeat 0 0/auto 100%;
}

.order-comment .evaluation .mc-bd .bot-score .score-box .commstar .star-info {
    position: absolute;
    display: inline-block;
    width: 2.03125rem;
    left: 100%;
    top: 0;
    color: #526069;
    font-size: 13px;
}

[data-dpr="2"] .order-comment .evaluation .mc-bd .bot-score .score-box .commstar .star-info {
    font-size: 28px;
}

[data-dpr="3"] .order-comment .evaluation .mc-bd .bot-score .score-box .commstar .star-info {
    font-size: 42px;
}

.order-comment .evaluation .mc-ft {
    margin-top: 0.15625rem;
}

.order-comment .evaluation .mc-ft .item {
    background-color: #fff;
    margin-bottom: 0.15625rem;
}

.order-comment .evaluation .mc-ft .item-hd {
    padding: 0.46875rem 0 0.46875rem 2.34375rem;
    position: relative;
    min-height: 2.34375rem;
    overflow: hidden;
}

.order-comment .evaluation .mc-ft .item-hd .pic {
    width: 1.40625rem;
    height: 1.40625rem;
    position: absolute;
    left: 0.40625rem;
    top: 0.46875rem;
}

.order-comment .evaluation .mc-ft .item-hd .pic img {
    width: 1.40625rem;
    height: 1.40625rem;
}

.order-comment .evaluation .mc-ft .item-hd .title {
    display: block;
    height: 0.625rem;
    line-height: 0.625rem;
    margin-bottom: 0.234375rem;
    color: #37474F;
    font-size: 14px;
}

[data-dpr="2"] .order-comment .evaluation .mc-ft .item-hd .title {
    font-size: 28px;
}

[data-dpr="3"] .order-comment .evaluation .mc-ft .item-hd .title {
    font-size: 42px;
}

.order-comment .evaluation .mc-ft .item-hd .commstar {
    width: 5.0rem;
    height: 0.5rem;
    position: relative;
}

.order-comment .evaluation .mc-ft .item-hd .commstar .star {
    display: block;
    width: 20%;
    height: 0.5rem;
    position: absolute;
    top: 0;
    left: 0;
    background: url(../../../media/images/star320x30-1.png) no-repeat 0 0/auto 100%;
}

.order-comment .evaluation .mc-ft .item-hd .commstar .star1 {
    width: 20%;
    z-index: 5;
}

.order-comment .evaluation .mc-ft .item-hd .commstar .star2 {
    width: 40%;
    z-index: 4;
}

.order-comment .evaluation .mc-ft .item-hd .commstar .star3 {
    width: 60%;
    z-index: 3;
}

.order-comment .evaluation .mc-ft .item-hd .commstar .star4 {
    width: 80%;
    z-index: 2;
}

.order-comment .evaluation .mc-ft .item-hd .commstar .star5 {
    width: 100%;
    z-index: 1;
}

.order-comment .evaluation .mc-ft .item-hd .commstar .active {
    background: url(../../../media/images/star320x30-2.png) no-repeat 0 0/auto 100%;
}

.order-comment .evaluation .mc-ft .item-hd .commstar .star-info {
    position: absolute;
    display: inline-block;
    width: 2.03125rem;
    left: 100%;
    top: 0;
    color: #526069;
    font-size: 13px;
}

[data-dpr="2"] .order-comment .evaluation .mc-ft .item-hd .commstar .star-info {
    font-size: 28px;
}

[data-dpr="3"] .order-comment .evaluation .mc-ft .item-hd .commstar .star-info {
    font-size: 42px;
}

.order-comment .evaluation .mc-ft .item-bd {
    padding: 0.15625rem 0.40625rem 0;
    position: relative;
}

.order-comment .evaluation .mc-ft .item-bd textarea {
    width: 100%;
    height: 2.5rem;
    padding: 0.21875rem 0 0.15625rem 0.3125rem;
    border: 1px solid #DDD;
    border-radius: 0.0625rem;
    font-size: 13px;
    color: #37474F;
}

[data-dpr="2"] .order-comment .evaluation .mc-ft .item-bd textarea {
    font-size: 26px;
}

[data-dpr="3"] .order-comment .evaluation .mc-ft .item-bd textarea {
    font-size: 39px;
}

.order-comment .evaluation .mc-ft .item-bd span {
    color: #AAAEB9;
    font-size: 13px;
    position: absolute;
    right: 0.671875rem;
    bottom: 0.15625rem;
}

[data-dpr="2"] .order-comment .evaluation .mc-ft .item-bd span {
    font-size: 26px;
}

[data-dpr="3"] .order-comment .evaluation .mc-ft .item-bd span {
    font-size: 39px;
}

.order-comment .evaluation .mc-ft .item-ft {
    padding: 0.3125rem 0.40625rem 0.46875rem;
    overflow: hidden;
}

.order-comment .evaluation .mc-ft .item-ft .pic-box1 {
    height: 2.03125rem;
    border: 0.03125rem dashed #d1d1d1;
    border-radius: 0.078125rem;
    cursor: pointer;
    text-align: center;
    padding-top: 1.15625rem;
    color: #AAAEB9;
    background: url(../../../media/images/plus31x31.png) no-repeat center 0.48438rem/0.48438rem auto;
}

.order-comment .evaluation .mc-ft .item-ft .add-pic {
    width: 1.875rem;
    height: 1.875rem;
    border: 0.03125rem dashed #d1d1d1;
    float: left;
    cursor: pointer;
    margin: 0.3125rem 0 0 0;
    background: url(../../../media/images/plus31x31.png) no-repeat center center/0.48438rem auto;
}

.order-comment .evaluation .mc-ft .item-ft .pic-box2 {
    width: 1.875rem;
    height: 1.875rem;
    float: left;
    position: relative;
    margin: 0.3125rem 0.3125rem 0 0;
}

.order-comment .evaluation .mc-ft .item-ft .pic-box2 img {
    width: 1.875rem;
    height: 1.875rem;
    border-radius: 0.125rem;
}

.order-comment .evaluation .mc-ft .item-ft .pic-box2 .del-btn {
    display: block;
    width: 0.453125rem;
    height: 0.453125rem;
    cursor: pointer;
    background: url(../../../media/images/guanbi2.png) no-repeat 0 0/100% 100%;
    position: absolute;
    right: 0;
    top: -0.21875rem;
}

.order-comment .compile-layer {
    background: rgba(0, 0, 0, 0.4);
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 12;
}

.order-comment .compile-layer .compile-box {
    width: 84%;
    border-radius: 0.375rem;
    background-color: #fff;
    position: absolute;
    left: 8%;
    top: 24%;
}

.order-comment .compile-layer .compile-box .mc {
    text-align: center;
    padding: 0.875rem 0 0.71875rem;
}

.order-comment .compile-layer .compile-box .mc span {
    color: #333;
    font-size: 17px;
    font-weight: bold;
    line-height: 0.75rem;
}

[data-dpr="2"] .order-comment .compile-layer .compile-box .mc span {
    font-size: 34px;
}

[data-dpr="3"] .order-comment .compile-layer .compile-box .mc span {
    font-size: 51px;
}

.order-comment .compile-layer .compile-box .md {
    width: 100%;
    height: 1.375rem;
    position: relative;
}

.order-comment .compile-layer .compile-box .md:before {
    content: " ";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 1px;
    border-top: 1px solid #D9D9D9;
    color: #D9D9D9;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
}

.order-comment .compile-layer .compile-box .md a {
    display: block;
    width: 50%;
    float: left;
    text-align: center;
    height: 1.375rem;
    line-height: 1.375rem;
    font-size: 16px;
}

[data-dpr="2"] .order-comment .compile-layer .compile-box .md a {
    font-size: 32px;
}

[data-dpr="3"] .order-comment .compile-layer .compile-box .md a {
    font-size: 48px;
}

.order-comment .compile-layer .compile-box .md .cancel {
    color: #666666;
    position: relative;
}

.order-comment .compile-layer .compile-box .md .cancel:before {
    content: " ";
    position: absolute;
    right: 0;
    top: 0;
    width: 1px;
    height: 1.375rem;
    border-right: 1px solid #D9D9D9;
    color: #D9D9D9;
    -webkit-transform-origin: 50% 0;
    transform-origin: 50% 0;
    -webkit-transform: scaleX(0.5);
    transform: scaleX(0.5);
}

.order-comment .compile-layer .compile-box .md .confirm {
    color: #007AFF;
}

.order-comment .evaluation .mc-anony { height: 1.40625rem; line-height: 1.40625rem; position: relative; background-color: #fff; padding: 0 0.40625rem; display: flex; justify-content: space-between; }
.order-comment .evaluation .mc-anony a { font-size: 18px; color: #526069; padding-left: 0.78125rem; background: url(../../../media/images/icon-check.png) no-repeat 0 center/0.53125rem auto; }
[data-dpr="2"] .order-comment .evaluation .mc-anony a { font-size: 28px; }
[data-dpr="3"] .order-comment .evaluation .mc-anony a { font-size: 42px; }
.order-comment .evaluation .mc-anony a.cur { background: url(../../../media/images/icon-check2.png) no-repeat 0 center/0.53125rem auto; }
.order-comment .evaluation .mc-anony span { font-size: 14px; color: #A3AFB7; padding-left:2.3rem;}
[data-dpr="2"] .order-comment .evaluation .mc-anony span { font-size: 28px; }
[data-dpr="3"] .order-comment .evaluation .mc-anony span { font-size: 42px; }
.order-comment .evaluation .mc-anony:before { content: " "; position: absolute; left: 0; top: 0; right: 0; height: 1px; border-top: 1px solid #E4EAEC; color: #E4EAEC; -webkit-transform-origin: 0 0; transform-origin: 0 0; -webkit-transform: scaleY(0.5); transform: scaleY(0.5); z-index: 2; }


/*# sourceMappingURL=post-evaluation.css.map */
