{% extends './layout.html' %}

{% block header %}
  欢迎来到个人博客后台管理系统
{% endblock %}

{% block content %}
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>用户姓名</th>
                  <th>用户ID</th>
                  <th>管理权限</th>
                </tr>
              </thead>
              <tbody>
              	{% for user in users %}
                <tr>
                  <td>{{ user.username }}</td>
                  <td>{{ user._id.toString() }}</td>
                  <td>
                  	{% if user.isAdmin %}
                  		是
                  	{% else %}	
                  		否
                  	{% endif %}
                  </td>
                </tr>
 				{% endfor %}
              </tbody>
            </table>




<nav aria-label="Page navigation">
  <ul class="pagination">
    <li>
      <a href="/admin/users?page={{ page - 1 }}" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    {% for i in list %}
    {% if i == page %}
    <li class="active"><a href="javascript:;">{{ i }}</a></li>
	{% else %}
	<li><a href="/admin/users?page={{ i }}">{{ i }}</a></li>
	{% endif %}
	{% endfor %}
    <li>
      <a href="/admin/users?page={{ page + 1 }}" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>


{% endblock %}