.scan { height: 100%; }

.scan .get-coupon { padding: 0 0 0.3125rem; }
.scan .get-coupon .mt{min-height: 3.125rem; background-color: #f5f5f5; padding: 0.55rem 0.4rem;}
.scan .get-coupon .mt p{text-align: center; color: #37474F; font-size: 17px;}
[data-dpr="2"] .scan .get-coupon .mt p{text-align: center; color: #37474F; font-size: 17px;}
[data-dpr="3"] .scan .get-coupon .mt p{text-align: center; color: #37474F; font-size: 17px;}

.scan .get-coupon h5 {padding-top: 0.25rem; text-align: center; color: #37474F; font-size: 17px; font-weight: bold;}
 [data-dpr="2"] .scan .get-coupon h5 { font-size: 34px; }
[data-dpr="3"] .scan  .get-coupon h5 { font-size: 51px; }

.scan .get-coupon .mc{text-align: center;}
.scan .get-coupon .mc img{width: 6rem; height: auto;}

.scan .get-coupon .coupon-box { width: 9.21875rem; height: 2.5rem; border-radius: 0.125rem; padding: 0.1875rem 0.25rem 0 3.0625rem; position: relative; margin: 0 auto 0.3125rem; top:-0.78125rem; background-color: #fff; box-shadow: 0 0.125rem 0.25rem rgba(98, 168, 234, 0.25); overflow: hidden; }
.scan .get-coupon .coupon-box .box-left { width: 2.8125rem; height: 2.5rem; position: absolute; left: 0; top: 0; background-color: #62A8EA; background: -moz-linear-gradient(left, #62A8EA 0%, #28C8FF 100%); background: -webkit-linear-gradient(left, #62A8EA 0%, #28C8FF 100%); background: linear-gradient(to right, #62A8EA 0%, #28C8FF 100%); }
.scan .get-coupon .coupon-box .box-left .cont { display: flex; justify-content: center; align-items: center; color: #fff; width: 2.8125rem; height: 2.5rem; background: url(../../../media/images/icon4x13.png) repeat-y 100% 0.03125rem/0.0625rem auto; }
.scan .get-coupon .coupon-box .box-left i {font-style: normal; font-size: 12px; }
 [data-dpr="2"] .scan .get-coupon .coupon-box .box-left i { font-size: 24px; }
 [data-dpr="3"] .scan .get-coupon .coupon-box .box-left i { font-size: 36px; }
.scan .get-coupon .coupon-box .box-left span { font-weight: bold; font-size: 28px; }
 [data-dpr="2"] .scan .get-coupon .coupon-box .box-left span { font-size: 56px; }
 [data-dpr="3"] .scan .get-coupon .coupon-box .box-left span { font-size: 84px; }
.scan .get-coupon .coupon-box .title {width: 5rem; max-height: 0.9375rem; line-height: 0.46875rem; color: #526069; font-size: 13px; font-weight: bold; overflow:hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical;}
 [data-dpr="2"] .scan .get-coupon .coupon-box .title { font-size: 26px; }
 [data-dpr="3"] .scan .get-coupon .coupon-box .title { font-size: 39px; }
.scan .get-coupon .coupon-box .full { display: inline-block; margin: 0.125rem 0; height: 0.5rem; line-height: 0.5rem; border-radius: 2px; padding: 0 0.125rem; background-color: #fff2eb; color: #666666; font-size: 12px; }
 [data-dpr="2"] .scan .get-coupon .coupon-box .full { font-size: 24px; }
[data-dpr="3"] .scan  .get-coupon .coupon-box .full { font-size: 36px; }
.scan .get-coupon .coupon-box .full span { padding: 0 0.03125rem; font-weight: bold; }
.scan .get-coupon .coupon-box .time { line-height: 0.515625rem; color: #76838F; font-size: 12px; }
 [data-dpr="2"] .scan .get-coupon .coupon-box .time { font-size: 24px; }
 [data-dpr="3"] .scan .get-coupon .coupon-box .time { font-size: 36px; }
.scan .get-coupon .ewm { text-align: center; }
.scan .get-coupon .ewm .ewm-box { display: block; width: 4.6875rem; height: 4.6875rem; margin: 0 auto 0.3125rem; cursor: inherit; }
.scan .get-coupon .ewm .ewm-box img { width: 4.6875rem; height: 4.6875rem; }
.scan .get-coupon .ewm span { color: #76838F; font-size: 12px; line-height: 0.515625rem; }
 [data-dpr="2"] .scan .get-coupon .ewm span { font-size: 24px; }
 [data-dpr="3"] .scan .get-coupon .ewm span { font-size: 36px; }
.scan .get-coupon .ewm p { color: #76838F; font-size: 16px; line-height: 0.71875rem; font-weight: bold; }
 [data-dpr="2"].scan .get-coupon .ewm p { font-size: 32px; }
[data-dpr="3"] .scan  .get-coupon .ewm p { font-size: 48px; }
.scan .get-coupon .md-btn { display: block; width: 7.5rem; height: 1.09375rem; margin: 0 auto; text-align: center; line-height: 1.09375rem; background-color: #62A8EA; border-radius: 0.546875rem; box-shadow: 0 0.03125rem 0.125rem 0 rgba(98, 168, 234, 0.6); color: #fff; font-size: 14px; }
 [data-dpr="2"] .scan .get-coupon .md-btn { font-size: 28px; }
 [data-dpr="3"].scan .get-coupon .md-btn { font-size: 42px; }


